$lightpink: lightpink;
$lightblue: lightblue;
$red: red;
$white: white;
$black: black;
$green: green;
$yellow: yellow;
$orange: orange;
$violet: violet;
$lightGrey: lightGrey;
$darkGrey: darkGrey;
$specialBlue: #042d2f;
$bannerHeader: 25px;
$sectionColor: #126a6f;
$lightBlack: #0000008c;
$bg: #085b5f;
$footerColor: #ffffff94;